*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
#container{
    width: 100vw;
}
.header__login{
    width: 100%;
    height: 100px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
}
.header__logo {
    width: 30%;
    height: 100%;
    display: flex;
    gap: 4px;
    align-items: center;
    text-align: center;
}
.header__logo--img{
    width: 50px;
    height: 50px;
}
.header__logo--img img {
    width: 100%;
    height: 100%;
}
.header__logo--text {
    font-size: 30px;
    font-weight: 400;
    color: rgb(238,78,46);
    text-align: center;
}
.header__logo--loginText {
    font-size: 30px;
    font-weight: 400;
    margin-top: 15px;
    margin-left: 20px;

}
.header__help {

    
}
.header__help a {
    text-decoration: none;
    color: rgb(238,78,46);
    font-weight: 500;
}
.main {
    width: 100%;
    height: 650px;
    background-color: rgb(238, 78, 46);
}
.background__image {
    width: 80%;
    height: 580px;
    margin: 0 auto;
    background-image:url('https://down-vn.img.susercontent.com/file/sg-11134004-7rblf-lqn1wqvh870k1f');
    background-repeat: no-repeat;
    
    
}
.form__login {
    width: 35%;
    height: 80%;
    background-color: #fff;
    float: right;
    margin-right: 150px;
    margin-top: 100px;
    text-align: center;
    padding: 40px;
}
.form__login--text {
    width: 100%;
    height: 20%;
    font-size: 25px;
    font-weight: 400;
    display: flex;
    align-items: center;
}
.form__login--text p{
    margin: 0 auto;
}
.form__login--input {
    width: 100%;
    height: 40%;
    margin-top: 20px;
}
.input {
    width: 100%;
    height: 40px;
    margin-top: 20px;
}
.input__Email, .input__Password {
    width: 100%;
    height: 100%;
    padding: 10px;
    opacity: 0.8;
}

.form__login--input--button {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border: none;
    /* background-color: #EE4D2D; */
}
.form__login--input--button__login {
    width: 100%;
    height: 100%;
    color: #fff;
    text-transform: uppercase;
    border: none;
    font-weight: 700;
    background-color: #EE4D2D;
    cursor: pointer;
}
.form__login--input--button__login:hover {
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    border: none;
    font-weight: 700;
    cursor: pointer;
    background-color: #f07860;
}
.form__login--register{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    padding: 5px;
}
.form__login--register a{
    font-size: 13px;
    text-decoration: none;
}
.form__login--Or {
    width: 100%;
    height: 30px;
    margin-top: -15px;
    display: flex;
    align-items: center;
}
.line1 {
    /* width: 20%; */
    height: 1px;
    background-color: #dbdbdb;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}
.OrMid1 {
    font-size: 14px;
    opacity: 0.4;
}
.form__login--social {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
.form__login--social--facebook {
    width: 45%;
    /* height: 40px; */
    height: 40px;
    background-color: #fff;
    border:  0.5px solid rgb(200, 190, 190);
    display: flex;
    gap: 3px;
    align-items: center;
    cursor: pointer;
   
}
.logo__facebook {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 30px;
}
.logo__facebook img {
    width: 100%;
    height: 100%;
}
.fabebook__text {
    width: 50px;
    height: 30px;
    margin-top: 10px;
    margin-left: 5px;
}
.form__login--social--gmail {
    width: 45%;
    /* height: 40px; */
    height: 40px;
    background-color: #fff;
    border:  0.5px solid rgb(200, 190, 190);
    display: flex;
    gap: 3px;
    align-items: center;
    cursor: pointer;  
}
.logo__google {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 30px;
}
.logo__google img {
    width: 100%;
    height: 100%;
}
.google__text {
    width: 50px;
    height: 30px;
    margin-top: 10px;
}
.form__login--linkRegister{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content:center;
    gap: 2px;
    text-align: center;
    margin-top: 20px;
}
.form__login--register__text{
    opacity: 0.4;
}
.form__login--register__link {
    text-decoration: none;
    font-size: 16px;
    color: #EE4D2D;
}