.container {
    background-color: rgb(245,245,245);
}
.container3{
    margin: 20px 30px 20px 30px;
}
.container1{
    display: flex;
    flex-direction: row;
}
.container_left{
    flex: 0.15;
    margin-top: 20px;
}
li {
    color: black;
}
.container_right{
    flex: 0.85;
}
.category-heading {
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.8rem;
    margin: 8px 7px;
}
.icon_1{
    display: flex;
    flex-direction: row;
    align-items: center; 
}
.category-heading-icon {
    font-size: 1.6rem;
    margin-right: 4px;
}

.category-group {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}

.category-group-title {
    font-size: .975rem;
    padding: 0 0 10px;
}

.category-group-list {
    list-style: none;
    margin: 0;
    padding: 0;

}

.category-group-item {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    padding: 8px 0;
    font-size: .975rem;
}

.category-group-item-check {
    margin-right: 12px;
}

.category-group-filter {
    display: flex;
    align-items: center;
    padding: 8px 0;
    justify-content: space-between;
}

.category-group-filter-input {
    width: 76px;
    height: 24px;
    outline: none;
    border: 1px solid #999;
    padding: 5px;
}
.toPrice{
    flex: 1;
    height: 1px;
    background: #bdbdbd;
    margin: 0 0.625rem;
    flex: 0.2;
}

.category-group-filter-btn {
    width: 100%;
    margin: 8px 0;
    height: 35px;
    background-color: rgb(238,77,45);
    color: rgb(253,255,255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.category-group--margin {
    margin: 20px 0;
}

/* home filter */

.home-filter {
    background-color: rgb(237,237,237);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    border-radius: 3px;
    margin-left: 20px;
    height: 50px;
}

.home-filter-control{
    display: flex;
    align-items: center;
    position: relative;
    width: 500px;
}
.price:hover{
    .home-filter-sort-list{
        display: block;
    }
}

.home-filter-title {
    font-size: 1rem;
    color: #555555;
    margin-right: 10px;
}

.home-filter-btn {
    background-color: white;
    min-width: 0;
    padding: 0 15px;
    margin: 0 5px;
    height: 35px;
    border-radius: 5px;
    border: none;
}

.home-filter-btn:focus{
    background-color: rgb(238,77,45);
    color: white;
}

.home-filter-sort {
    /* background-color: white; */
    width: 200px;
    height: 105px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 10px;
    /* height: 35px; */
    border-radius: 5px;
    padding: 0 15px;
}
.price{
    background-color: white;
    width: 200px;
    height: 35px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.home-filter-sort-list {
    width: 200px;
    height: 70px;
    position: absolute;
    right: 5px; top: 35px;
    border-radius: 3px;
    background-color: white;
    margin: 0;
    list-style: none;
    padding: 0;
    display: none;
    z-index: 9999;
    border-top: 1px solid gray;
}
.home-filter-sort-list button{
    border: none;
    background: none;
    font-size: 1rem;
}
.home-filter-sort-list button:hover{
    color: rgb(238,77,45);
}

/* .home-filter-sort:hover .home-filter-sort-list {
    display: block;
} */
.home-filter-sort:hover .home-filter-sort-list {
    display: block;
}

.home-filter-sort-item-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    text-decoration: none;
    padding: 10px 20px;
    border-top: 1px solid gray;
}

.home-product {
    margin: 8px 0;
}
.home-product-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 160px;
}
.home__recommend--body {
    width: 100%;
    height: auto;
    background-color: #f5f5f584;
    padding-top: .3125rem;
    padding-left: .3125rem;
    padding-right: .3125rem;
    margin-top: 20px;
}
.home__recommend--body--item {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
}
.home__recommend--body--item--product1 {
    width: 198px;
    height: 304px;
    padding: 5px;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.09);
}
.home__recommend--body--item--product1:hover {
    width: 198px;
    height: 304px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #F7442E;
    cursor: pointer;

}
.home__recommend--body--item--product1--img {
    width: 100%;
    height: 186px;
    
    background-size: cover;
    background-repeat: no-repeat;
}
.home__recommend--body--item--product1--img--iconLike {
    width: 46px;
    height: 18px;
    background-image: url("../../assets/recommend/yeuthich.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: -8px;
}
.home__recommend--body--item--product1--img--iconPercent {
    width: 36px;
    height: 18px;
    background-color: #FFE97A;
    text-align: center;
    margin-left: 155px;
    margin-top: -18px;
}
.home__recommend--body--item--product1--img--iconPercent p {
    font-size: 14px;
    color: #F7442E;
}
.home__recommend--body--item--product1--img--iconSale {
    width: 100%;
    height: 190px;
    background-image: url("../../assets/flashSale//vn-50009109-d29dd52ebef4dd7dbfcd0067230a8871_tn.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.home__recommend--body--item--product1--text {
    width: 100%;
    height: 90px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px;
}
.home__recommend--body--item--product1--text--name {
    width: 100%;
    height: 40px;
    font-size: 16px;
}
.home__recommend--body--item--product1--text--sale {
    width: 54px;
    height: 16px;
    background-color: #e70b0b;
    color: #fff;
    font-size: 12px;
    opacity: 0.6;
}
.home__recommend--body--item--product1--text--sale p {
    text-align: center;
    font-weight: 700;
}
.home__recommend--body--item--product1--text--price {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}
.home__recommend--body--item--product1--text--price--left {
    font-size: 18px;
    color: #F7442E;
}
.home__recommend--body--item--product1--text--price--right {
    font-size: 13px;
    opacity: 0.7;
}

